[COORDINATES]
# Window and Launcher Settings
window_title = Total Battle
laucher_title = MainWindow
path_total_battle = C:\\Users\\User\\AppData\\Roaming\\Scorewarrior\\TotalBattle\\Launcher.exe
coords_play_button = (934, 789)

# Clan and Gift Navigation
coord_clan_button = (1013, 960)
coord_gift_button = (574, 416)
coord_gifts_tab = (805, 285)
coord_triumphal_gifts_tab = (1055, 285)

# Chest Detection and OCR Areas
chest_area = (778, 334, 1037, 415)
cord_menu_button_open_chest = (1290, 382, 1407, 420)
screen_area = (0, 0, 1920, 1080)

# Account Switching Coordinates
account_menu_button = (1700, 54)
accounts_area = (709, 342, 1512, 729)
account_name_display_area = (711, 106, 931, 126)
switch_progress_confirm_button_area = (970, 624, 1144, 667)


# ==============================================================================
# Account Configurations
# Define as many [account_<name>] sections as needed.
# The application will automatically detect and iterate through all configured accounts.
# ==============================================================================

[account_main]
account = Player Main Name
host = 127.0.0.1
user = db_user
password = db_password
database = chestcounter

[account_university]
account = Player University Name
host = 127.0.0.1
user = db_user
password = db_password
database = chestcounteruni

[account_academy]
account = Player Academy Name
host = 127.0.0.1
user = db_user
password = db_password
database = chestcounteraca